.header {
    position: relative;
    background: black ;
    padding-left: 200px;
    padding-top: 25px;
    padding-bottom: 20px;
}
header {
    font-size: large;
    color: white;
}
.header p{
    font-size: small;
    color: gray;
}
body {
    margin:0 ;
    background-color: rgb(190, 190, 190);
}
.main {
    background-color: white;
    width: 50%;
    padding: 50px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    margin-bottom: 150px;
}
.img {
    width: 100%;
    height: 100%; 
    margin: 0 auto;
}
.biografija {
    color: black;
    width: 45%;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    font-size: x-large;
}
.knjizevnost {
    color: black;
    width: 45%;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    padding-top: 53%;
    padding-right: 5%;
    top: 0px;
    right: 0px;
    width: 40%;
}
.button1 {
    background-color: rgb(0, 0, 0);
    border: 1px;
    border-radius: 30px;
    color: white;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.button2 {
    background: linear-gradient(to right, black, black, white);    border: 1px;
    color: white;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.poems {
    width: 60%;
    height: 80%; 
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.list {
    position: absolute;
    padding-bottom: 12%;
    bottom: 0px;
    right: 0px;
    width: 40%;
    font-size: medium;
    text-align: left;
}
h3 {
    font-size: large;
}
.list ul{
    list-style-type: circle;
    padding-left: 12px;
}
.footer {
    background-color: black;
    margin: 0 auto;
    margin-top: 60px;
    color: rgb(190, 190, 190);
    font-size: x-large;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}