.header {
    position: relative;
    background: black ;
    padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 20px;
}
header {
    font-size: large;
    color: white;
}
.header p{
    font-size: small;
    color: gray;
}
body {
    margin:0 ;
    background-color: rgb(190, 190, 190);
}
.main {
    background-color: white;
    width: 50%;
    padding: 50px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img {
    width: 100%;
    height: 100%; 
    margin: 0 auto;
}
.biografija {
    color: black;
    width: 45%;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    font-size: x-large;
}
.knjizevnost {
    color: black;
    width: 45%;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex: 1 1 45%;
    margin-left: 30px;
}
.button1 {
    background-color: rgb(0, 0, 0);
    border: 1px;
    border-radius: 30px;
    color: white;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.button2 {
    background: linear-gradient(to right, black, black, white);    border: 1px;
    color: white;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.poems {
    width: 60%;
    height: 80%; 
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}